.product-card:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-15px);
    z-index: 10;
}

.product-card {
    transition:
        transform 0.4s ease-in-out,
        background-color 0.4s ease-in-out,
        box-shadow 0.4s ease-in-out,
        border-radius 0.4s ease-in-out;

    border: 1px solid rgba(69, 69, 68, 0.371);
    border-radius: 20px;
    max-width: 250px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6%; */



}

.product-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4%;


}

.product-card a {
    color: inherit;
    text-decoration: none;
}